.impowerBox .qrcode {width: 200px;}

/*.impowerBox .status {text-align: center;}*/
.status_icon{
	width: 20px!important;
    height: 20px!important;
    background-size: cover!important;
}
.status{
	margin: 0!important;
}
.status_txt{
	width: 190px!important;
}
.status_txt h4{
	font-size: 14px!important;
}
.wrp_code{
	border:1px solid #eeeeee!important; 
}

.wrp_code{margin:0px!important;}

#wx_default_tip, .impowerBox .title {display:none!important;}